[submodule "fizzbuzz-rust"]
	path = fizzbuzz-rust
	url = git@github.com:ngramp/fizzbuzz-rust.git
[submodule "elixir-hello"]
	path = elixir-hello
	url = git@github.com:ngramp/elixir-hello.git
[submodule "py-torch-hf"]
	path = py-torch-hf
	url = git@github.com:ngramp/py-torch-hf.git
